OPENROUTER_API_KEY=your_key_here
TARGET_URLS=https://www.iiitb.ac.in/academics/integrated-mtech/btech-computer-science-and-engineering,https://www.iiitb.ac.in/academics/integrated-mtech/btech-electronics-and-communication-engineering,https://www.iiitb.ac.in/academics/integrated-mtech/btech-artificial-intelligence-data-science,https://www.iiitb.ac.in/academics/integrated-programmes/integrated-mtech-computer-science-and-engineering,https://www.iiitb.ac.in/academics/integrated-programmes/integrated-mtech-electronics-and-communication-engineering,https://www.iiitb.ac.in/academics/masters-programmes/mtech-computer-science-and-engineering,https://www.iiitb.ac.in/academics/masters-programmes/mtech-electronics-and-communication-engineering,https://www.iiitb.ac.in/academics/masters-programmes/mtech-artificial-intelligence-and-data-science
TOKEN_LIMIT=12000
CHUNK_SIZE=2000
